body {
	background: #ccc;
}
table {
	border-collapse: separate;
	background: #000;
	margin: 0 auto;
}
td {
	padding: 40px;
	border: 3px solid black;
	background: #fff;
}
.yellow {
	background: #ffeb66;
}
.red {
	background: #ff573c;
}
.black {
	background: #22322d;
}
.blue {
	background: #0a4781;
}