@font-face {
	font-family: 'Helvetica Neue';
	src:url(../font/helveticaneue-thin-webfont.eot);
	src:url(../font/helveticaneue-thin-webfont.eot?#iefix) format('embedded-opentype'),
		url(../font/helveticaneue-thin-webfont.woff2) format('woff2'),	
		url(../font/helveticaneue-thin-webfont.woff) format('woff'),
		url(../font/helveticaneue-thin-webfont.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}